@import "tailwindcss";
@import "@nuxt/ui";

@theme {  
   --font-sans: "Barlow Semi Condensed",ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
   --font-serif: "Georgia", "Cambria", "Times New Roman", Times, serif;
   --font-mono: "Inconsolata", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

   --color-coral-500: oklch(0.6597 0.2267 26.03);
   --color-neutro: #f1f5f5;
}
body {
  @apply bg-neutro text-black;
}

@layer base {
  body p {
    @apply leading-6;
  }
}